{%- if updated -%}    
  Updated <a href="{{ url }}" class="u-url"> <time class="dt-published" datetime='{{ updated | date: "iso" }}'>{{ updated | date: "iso" }}</time></a>
{%- else -%}
  <a href="{{ url }}" class="u-url"><time class="dt-published" datetime='{{ date | date: "iso") }}'>{{ date | date: "iso" }}</time></a>
{%- endif -%}
