{% assign thisPageMentions = webmentions.children | where: "wm-target", page.url %}
{% if thisPageMentions.length > 0 %}
<footer>
  {% assign reactions = thisPageMentions | wherenot: "wm-property", "in-reply-to" %}
  {% assign replies = thisPageMentions | where: "wm-property", "in-reply-to" %}

  <!--List any reactions-->
  {% if reactions.length > 0 %}
    <nav>
      <ul>
        {% for webmention in reactions %}
          <li>
            {% if webmention.author.url %}<a rel="nofollow" class="commenter" href="{{ webmention.author.url }}" data-tooltip="{{ webmention.author.name }}, {{webmention.wm-property}}" title="{{ webmention.author.name }}, {{webmention.wm-property}}">{% endif %}
            <i class="icon {{webmention.wm-property}}"></i>
            {% if webmention.author.photo %}
              {% if webmention.author.photo[0].length > 1 %} <img class="avatar" src="{{ webmention.author.photo[0] }}" alt="{{ webmention.author.name }}">
              {% else %} <img class="avatar" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}">{% endif %}
            {% endif %}
            {% if webmention.author.url %}</a>{% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  
  <!--List Comments-->
  {% for webmention in replies %}
  {% assign author = webmention.author %}
  {% assign url = webmention.url %}
  {% assign date = webmention.published %}
    <article>
      {% include partials/authortime.liquid %}
      {% if webmention.content.html %}<div>{{ webmention.content.html | safe }}</div>{% endif %}
    </article>
  {% endfor %}
</footer>
{% endif %}
